[Desktop Entry]
Encoding=UTF-8
Name=Lien vers dept-info.labri.fr/ENSEIGNEMENT/compi/cours_td_compi.html
Type=Link
URL=http://dept-info.labri.fr/ENSEIGNEMENT/compi/cours_td_compi.html
Icon=text-html
