[Desktop Entry]
Encoding=UTF-8
Name=Lien vers UE Techniques Algorithmiques et Programmation
Type=Link
URL=http://dept-info.labri.fr/~gavoille/UE-TAP/
Icon=text-html
